.Details{
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content:center;
    padding-left:10px;
    padding-right:20px;
    
}

.Buttons{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content:space-around;
}


